<form id="paypal-form" action="/add_product" method="POST">
    <label>product ID</label>
    <input type="number" class="form-control" name="product_id" placeholder="product_id">
    <label>id</label>
    <input type="text" class="form-control" name="id" placeholder="id">
    <label>title</label>
    <input type="text" name="title" placeholder="title">

    <label>description</label>
    <input type="text" name="description" placeholder="description">
    <label>manufacturer</label>
    <input type="text" name="manufacturer" placeholder="manufacturer">
    <label>price</label>
    <input type="string" name="price" placeholder="price">
    <label>image</label>
    <input type="text" name="image" placeholder="image">
    

    <button type="submit">Submit</button>
</form>
